@import url('../index.css');



.planet-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 4rem 0.5rem;

}

.planet-image {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.planet-geology-image {
    position: absolute;
    max-width: 9rem;
    top: 100%;
    opacity: 1;
    animation: zoom 1s linear;
}

@keyframes zoom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




.planet-details {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 50%;

}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 2s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.planet-details h2 {
    font-family: var(--ff-antonio);
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.planet-details p {
    font-family: var(--ff-spartan);
    font-weight: 200;
    margin-top: 1rem;
    line-height: 1.5rem;
    min-height: 150px;

}

.source {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: hsla(0, 0%, 100%, 0.5);
}

.source a {
    color: hsla(0, 0%, 100%, 0.5);
    font-weight: 700;
}

.material-symbols-outlined {
    font-size: 1rem;
}




.planet-stats {
    width: 90%;
    display: grid;
    grid-template: 1fr/repeat(4, 1fr);
    gap: 1.8rem;
    margin: 5rem 0.5rem;
    margin-top: 15rem;
    padding-left: 8rem;
}

.stat {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 0.25rem;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.stat-title {
    color: hsla(0, 0%, 100%, 0.5);
    font-family: var(--ff-spartan);
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 1rem;
    letter-spacing: 0.05rem;
}

.stat-info {
    font-family: var(--ff-antonio);
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 3.2rem;
    letter-spacing: 0.05rem;
}


/*  -------------- TABLET --------------- */

@media (max-width: 1120px) {

    .planet-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 3rem;
    }

    .planet-image {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
    }

    .planet-details {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
        margin-top: 10rem;
    }

    .planet-info {
        width: 50%;
        margin-bottom: 0;
    }

    .planet-info p {
        min-height: 160px;
    }

    
    .planet-stats {
        width: 100%;
        margin: 2rem 0.5rem;
        padding: 2.3rem;
    }

}



/* ----------------- PHONE ------------------ */

@media (max-width: 767px) {
    
    .planet-container {
        margin: 0;
        width: 100%;
    }

    .planet-image {
        width: 100%;
        margin-top: 5rem;
        position: relative;
    }

    .planet-img-Mercury {
        max-width: 111px;
    }
    .planet-img-Venus {
        max-width: 154px;
    }
    .planet-img-Earth {
        max-width: 173px;
    }
    .planet-img-Mars {
        max-width: 129px;
    }
    .planet-img-Jupiter {
        max-width: 224px;
    }
    .planet-img-Saturn {
        max-width: 256px;
    }
    .planet-img-Uranus {
        max-width: 176px;
    }
    .planet-img-Neptune {
        max-width: 173px;
    }



    .planet-geology-image {
        max-width: 80px;
        position: absolute;
        top: 100%;
    }

    .planet-details {
        margin-top: 5rem;
        padding: 0 24px;
    }

    .planet-info {
        width: 100%;
        text-align: center;
    }

    .planet-info h2 {
        font-size: 2.5rem;
    }
    .planet-info p {
        font-size: 0.9rem;
    }

    .source {
        justify-content: center;
        font-size: 0.7rem;
    }


    .planet-stats {
        margin: 0;
        margin-top: 2.5rem;
        grid-template: repeat(4, 1fr) /1fr;
        padding: 0 24px;
    }

    .stat {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.56rem 24px 0.81rem 24px;
    }

    .stat-info {
        font-size: 1.3rem;
    }

}